<mat-toolbar style=" border: 1px solid lightgray;" class="docs-navbar-header" fullscreen>
    <mat-toolbar-row>
                <mat-icon (click)="drawer.toggle()">menu</mat-icon>
                <img src="assets/logo/icons8-google-keep-50.png">
                <span>Fundoo</span>
                <div class class="searchdiv">
                    <mat-icon prefix>search</mat-icon>
                    <input type="text" class="search" placeholder="Search"
                        style="border: none; height: 30px;width: 500px;">
                </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-toolbar color="primary" role="heading">
    <button mat-icon-button (click)="clickMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button>{{ title }}</button>
  </mat-toolbar> -->