header{
    padding: 20px;
    background-color: skyblue;
}
.logo
{
  width: 60px;
  height: 60px;
  line-height: normal;
}
.mat-toolbar
{
    height: 60px auto;
    width: 100% auto;
    margin-top: 0px; 
}
.searchdiv{
  margin-left: 100px;
  height: auto;
  width: auto;
}

