.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content{
  padding: 20px;
}
.app-sidenavbar{
  width: 300px;
  display: list-item;
  justify-self: start;
  margin: 0px;

}

side-nave{
  border: lightgray 1px;
}
mat-sidenav-container{
  display: flex;
}
mat-sidenav-content{
  justify-content: center;
}
mat-sidenav{
  margin-top: 0px;
  border-color: 1px whitesmoke;
  background-color:white;
  width: 355px;
  justify-content: center !important;
}
