
<div class="container">
    <div>
        <!-- <app-toolbar flexLayout="row" ></app-toolbar> -->
        <app-toolbar flexLayout="row" (toggleEvent)="nameEventHander($event)"></app-toolbar>
    </div>
    <mat-sidenav-container style=" height: 670px; ">
            <mat-sidenav [(opened)]="opened2" mode="side">
                <app-sidenavbar fxFlex></app-sidenavbar>
            </mat-sidenav>
            <mat-sidenav-content style="background-color: blue; "><router-outlet></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
    
</div>
<!-- <app-sidenavbar fxFlex></app-sidenavbar> -->
<!-- <div class="app-wrapper">
  <div> -->