<mat-card style="height: 13em;" mat-dialog-content fxLayout="column" fxFlex>
    <div id="pindiv">
        <app-pin-notes id="pin"></app-pin-notes>
    </div>
    <textarea id="title" [(ngModel)]="note.title" style="border: none;" matInput type="text" class="input"
        placeholder="Title"></textarea>
    <textarea id="desc" style="border: none; " matInput type="text" class="input" placeholder="Take a note"
        [(ngModel)]="note.description"></textarea>
    <div class="lastEdit">
        <span>Last Edit:{{note.updaTimestamp}}</span>
    </div>
    <div class="icon" mat-dialog-actions>
        <app-notes-iconlist class="app-note-list"></app-notes-iconlist>
        <div class="div-button" button (click)="onSubmit()||open=!open"><button
                style="border: none; padding-right: 45px;">Close</button></div>
    </div>

</mat-card>