.getNotesMat {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 17em;
  padding-right: 2em;
}
mat-card {
  padding: 0px;
  padding-right: 0px;
  border-radius: 0.5em;
  margin-bottom: 2em;
}
.mat-dialog-container {
  padding: 0px !important;
}
.getNotesMat[_ngcontent-acf-c10] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  height: 7em;
  width: 16em;
  padding-right: 0px;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 1px 1Px 1.5px 1.5px  rgb(185, 184, 184);
}

mat-card-content{
  padding-left: 0.8em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: auto;
  font-size: 22px;
  font-weight: lighter;
  padding-right: 0.2em;
  

}
mat-card-title{
  padding-left: 0.8em;

  height: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 28px;
}

#pin {
  height: 30px;
  width: 30px;
  font-weight: bolder;
}
.matdiv {
  display: flex;
    flex-wrap: wrap;
}
img {
  align-items: flex-end;
}
.pindiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 17em;
  visibility: visible;
}

.visible {
  border: 1px solid black;
  visibility: visible;
}

.app-note-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  visibility: visible;
  &:hover {
    visibility: visible;
  }
}
div.pin:hover{
  visibility: visible;
  color: #000;
}

.getAllNotes {
    display: flex;
    flex-wrap: wrap;
}

.main-div{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3001;
}
.bock-d{
  display: flow-root;
  flex-direction: column;
  align-items: center;
  display: block;

}
.pin{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 20%;
  // justify-content: center;
  // align-items: center;
  color: #5f6368;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    // margin: 32px 32px 8px;
    // position: absolute;
}
