<div class="medium-list " style="align-items: center;">
    <div clas="list-viewer-wrapper"><br><br><br><br>
        <div class="row threed">
            <h1 style=" text-align: center;text-transform: capitalize;text-decoration-style: wavy;">Fundoo Login
            </h1>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onloginSubmit()" class="example-form" noval>
            <div class="form-items">
                <div class="form-container rupesh"><br><br>
                    <mat-form-field>
                        <mat-icon matPrefix>perm_identity</mat-icon>
                        <input id="email" matInput formControlName="email" [(ngModel)]="user.email"
                            placeholder="Enter Email" autocomplete="off" required>
                    </mat-form-field>
                </div>
                <div class="form-container"><br><br>
                    <mat-form-field>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input id="password" matInput formControlName="password" [(ngModel)]="user.password"
                            placeholder="Enter Password" [type]="hide ?'password':'text'" autocomplete="off" required>
                        <mat-icon matSuffix (click)="hide=!hide">
                            {{hide? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                    </mat-form-field>
                </div><br><br>
                <div>
                    <button [disabled]="!loginForm.valid" style="font-size: 20px;font-weight: bold;color: whitesmoke;" mat-button type="submit" class="divider">Login</button>
                </div>
                <div>
                    <a href="http://localhost:4200/register">New User??</a><br>
                    <a href="#">Forgot Password??</a>
                </div>
            </div>
        </form>
    </div>
</div>