    <div class="rupesh">
        <a href="#"><img src="assets/icon/remainder.svg" /></a>
    </div>

    <div class="rupesh">
        <a href="#"><img src="assets/icon/collab.svg"></a>
    </div>

    <div class="rupesh">
        <a href="#"><img src="assets/icon/colorpalate (1).svg"></a>
    </div>

    <div class="rupesh">
        <a href="#"><img src="assets/icon/addImage.svg"></a>
    </div>

    <div class="rupesh">
        <a href="#"><img src="assets/icon/archive-24px.svg"></a>
    </div>