<!-- <div class="parent" style="align-items: center;" fxFill>
    <div clas="list-viewer-wrapper">
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpasswordForm.valid && onSubmit()" class="example-form" noval>
            <ngx-spinner *ngIf="showSpinner"  bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            <div class="form-items">
                <div class="row threed">
                    <h1 style="font-style: oblique; text-align: center;text-transform: capitalize;text-decoration-style: wavy;">FundooNotes
                    </h1>
                </div>
                <div >    
                    <h3 style="color: lightgrey;">Reset Password</h3>
                </div>
                <div class="form-container"><br><br>
                    <mat-form-field>
                        <mat-icon matPrefix>perm_identity</mat-icon>
                        <input id="email" matInput formControlName="email" [(ngModel)]="user.email"
                            placeholder="Enter Your Email" autocomplete="off" required>
                    </mat-form-field>
                </div>
                <div>
                    <button [disabled]="!forgotpasswordForm.valid" style="font-size: 20px;font-weight: bold;color: whitesmoke;" mat-button type="submit" class="divider">Verify Email</button>
                </div>
                <div>
                    <a href="http://192.168.1.175:4200/login">Login??</a><br>
                </div>
            </div>
        </form>
    </div>
</div> -->

<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card style=" width: 500px ; margin-top: 10%; box-shadow: 1px 2px 4px 2px;">

        <mat-card-title class="row threed"
            style="align-content:center; font-style: unset;font-size: 60vp;background-color: rgb(12, 12, 12); font-variant: normal; text-align: center;text-transform: capitalize;text-decoration-style: wavy;">
            <h2><span style="color: rgb(243, 13, 13);">F</span>
                <span style="color: rgb(240, 250, 239);">u</span>
                <span style="color: rgb(71, 191, 247);">n</span>
                <span style="color: rgb(245, 8, 8);">d</span>
                <span style="color: rgb(230, 247, 1);">o</span>
                <span style="color: rgb(10, 241, 60);">o</span>

                <span style="color: rgb(230, 247, 1);"> N</span>
                <span style="color: rgb(240, 250, 239);">o</span>
                <span style="color: rgb(71, 191, 247);">t</span>
                <span style="color: rgb(245, 8, 8);">e</span>
                <span style="color: rgb(10, 241, 60);">s</span>
            </h2>
        </mat-card-title>

        <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpasswordForm.valid && onSubmit()" noval>
            <mat-card-content fxLayout="column">
                <mat-card-subtitle
                    style="font-style: unset; color:rgb(146, 144, 144); text-align: center;text-transform: capitalize;text-decoration-style: wavy;">
                    <h2>Enter Email to Reset Password</h2>
                </mat-card-subtitle>
                <ngx-spinner *ngIf="showSpinner" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
                    type="ball-scale-multiple">
                    <p style="font-size: 20px; color: white">Loading...</p>
                </ngx-spinner>

                <mat-form-field>
                    <mat-icon matPrefix style="margin-right: 20px;"> mail_outline</mat-icon>
                    <input id="email" matInput formControlName="email" [(ngModel)]="user.email" 
                        placeholder="Enter Your Email" autocomplete="off" required>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions align="end">

                <button [disabled]="!forgotpasswordForm.valid"
                    style="font-size: 20px;font-weight: bold;color: whitesmoke;" mat-button type="submit"
                    class="divider">Verify Email</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>