<!-- 
<div class="medium-list " fxLayoutAlign="center center" >
    <div clas="list-viewer-wrapper">
        
        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()&& ontou " class="example-form"
            noval>
            <ngx-spinner *ngIf="showSpinner"  bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            <div class="form-items" style="margin-bottom: 60px;">
                <h1 style=" text-align: center;text-transform: capitalize;text-decoration-style: wavy;">Fundoo Registration
                </h1>
                <div class="form-container rupesh">
                    <mat-form-field >
                        <mat-icon matPrefix>person</mat-icon>
                        <input id="firstname" matInput formControlName="firstname" [(ngModel)]="user.firstname"
                            placeholder="Enter First Name" 
                            autocomplete="off" required>
                    </mat-form-field>
                </div>
                <div class="form-container">
                    <mat-form-field>
                        <mat-icon matPrefix>person</mat-icon>
                        <input id="lastname" matInput formControlName="lastname" [(ngModel)]="user.lastname"
                            placeholder="Enter Last Name"  autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="form-container">
                    <mat-form-field>
                        <mat-icon matPrefix>perm_identity</mat-icon>
                        <input id="userName" matInput formControlName="userName" [(ngModel)]="user.userName"
                            placeholder="Choose User Name"  autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="form-container">
                    <mat-form-field>
                        <mat-icon matPrefix> mail_outline</mat-icon>
                        <input type="email" matInput formControlName="email" [(ngModel)]="user.email"
                            placeholder="Enter email "  autocomplete="off" [ngClass]="{'is-invalid':submitted && formValidation.email.errors &&registerForm.get('email').touched}" required>
                           <mat-error *ngIf="isSubmitted && formValidation.email.errors" class="invalid-feedback">
                            <mat-error *ngIf="formValidation.email.required">
                                email is required</mat-error>
                                <mat-error *ngIf="formValidation.email.pattern">
                                    invalid Email</mat-error>
                           </mat-error>
                           
                    </mat-form-field>
                </div>
                <div class="form-container">
                    <mat-form-field>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input id="password" matInput formControlName="password" [(ngModel)]="user.password"
                            placeholder="Enter password" [type]="hide ?'password':'text'"  autocomplete="off" />
                        <mat-icon matSuffix (click)="hide=!hide">
                            {{hide? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-container">
                    <mat-form-field>
                        <mat-icon matPrefix>phone_iphone</mat-icon>
                        <input id="phNo" matInput formControlName="phNo" [(ngModel)]="user.phNo"
                            placeholder="Enter Mobile No"  autocomplete="off" required>
                    </mat-form-field>
                </div>
                <div class="form-container">
                    <mat-radio-group matInput formControlName="gender">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-radio-button value="other">Other</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-form-field >
                        <input matInput formControlName="dateOfBirth" [matDatepicker]="dateOfBirth"
                            placeholder="select date of birth" required>
                        <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfBirth></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <button style="font-size: 20px;font-weight: bold;color: whitesmoke;" [disabled]="!registerForm.valid" mat-button type="submit" class="divider">Register</button>
                </div>
                <a href="#" style="align-content:space-around; padding-bottom: 10px; margin-bottom: 20px;" >Alrady Register?</a>
                
            </div>
        </form>
    </div>
</div> -->

<div class="medium-list " fxLayoutAlign="center center">

    <mat-card style="width:600px; box-shadow: 1px 2px 4px 2px; opacity: 0.8;">
        <mat-card-title class="row threed"
            style="align-content:center; font-style: unset;font-size: 60vp;background-color: rgb(241, 234, 234); font-variant: normal; text-align: center;text-transform: capitalize;text-decoration-style: wavy;">
            <h2>Fundoo Notes</h2>
        </mat-card-title>

        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" noval>
            <mat-card-content fxLayout="column">
                <ngx-spinner *ngIf="showSpinner" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
                    type="ball-scale-multiple">
                    <p style="font-size: 20px; color: white">Loading...</p>
                </ngx-spinner>
                <mat-form-field style="margin-bottom: -1.25em;">
                    <mat-icon matPrefix style="margin-right: 20px;">person</mat-icon>
                    <input id="firstname" matInput formControlName="firstname" [(ngModel)]="user.firstname"
                        placeholder="Enter First Name" autocomplete="off" required>

                </mat-form-field>
                <span style="font-size: 15px;margin-top: 10px;">
                    <mat-error *ngIf="f.firstname.touched && f.firstname.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.firstname.errors.required">
                            FirstName is required</mat-error>
                    </mat-error>
                </span>

                <mat-form-field style="margin-bottom: -1.25em;">
                    <mat-icon matPrefix style="margin-right: 20px;">person</mat-icon>
                    <input id="lastname" matInput formControlName="lastname" [(ngModel)]="user.lastname"
                        placeholder="Enter Last Name" autocomplete="off">
                </mat-form-field>


                <mat-form-field style="margin-bottom: -1.25em;">
                    <mat-icon matPrefix style="margin-right: 20px;">perm_identity</mat-icon>
                    <input id="userName" matInput formControlName="userName" [(ngModel)]="user.userName"
                        placeholder="Choose User Name" autocomplete="off">
                </mat-form-field>
                <span style="font-size: 15px;margin-top: 10px;">
                    <mat-error *ngIf="f.userName.touched && f.userName.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.firstname.errors.required">
                            UserName is required</mat-error>
                    </mat-error>
                </span>

                <mat-form-field style="margin-bottom: -1.25em;">
                    <mat-icon matPrefix style="margin-right: 20px;"> mail_outline</mat-icon>
                    <input type="email" matInput formControlName="email" [(ngModel)]="user.email"
                        placeholder="Enter email " autocomplete="off" required>
                </mat-form-field>
                <span style="font-size: 15px;margin-top: 10px;">
                    <mat-error *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.email.errors.required">
                            Email is required</mat-error>
                        <mat-error *ngIf="f.email.errors.pattern">
                            Please Enter valid Email</mat-error>
                    </mat-error>
                </span>

                <mat-form-field style="margin-bottom: -1.25em;">
                    <mat-icon matPrefix style="margin-right: 20px;">lock</mat-icon>
                    <input id="password" matInput formControlName="password" [(ngModel)]="user.password"
                        placeholder="Enter password" [type]="hide ?'password':'text'" autocomplete="off" />
                    <mat-icon matSuffix (click)="hide=!hide">
                        {{hide? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                </mat-form-field>
                <span style="font-size: 15px;margin-top: 10px;">
                    <mat-error *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.password.errors.required">
                            You must set Password</mat-error>
                        <mat-error *ngIf="f.password.errors && !f.password.errors.required">
                            Password must be 6 character long</mat-error>
                    </mat-error>
                </span>


                <mat-form-field style="margin-bottom: -1.25em;">
                    <mat-icon matPrefix style="margin-right: 20px;">lock</mat-icon>
                    <input id="cnfpassword" matInput formControlName="cnfpassword" placeholder="confirm password"
                        [type]="hide2 ?'password':'text'" autocomplete="off" />
                    <mat-icon matSuffix (click)="hide2=!hide2">
                        {{hide2? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                </mat-form-field>
                <span style="font-size: 15px;margin-top: 10px;">
                    <mat-error *ngIf="f.cnfpassword.touched && f.cnfpassword.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.cnfpassword.errors.required">
                            Please Re-Enter password</mat-error>
                        <mat-error *ngIf="!f.cnfpassword.errors.required && f.cnfpassword.errors">
                                Password Must be same</mat-error>
                    </mat-error>
                </span>

                <mat-form-field style="margin-bottom: -1.25em;">
                    <mat-icon matPrefix style="margin-right: 20px;">phone_iphone</mat-icon>
                    <input id="phNo" matInput formControlName="phNo" [(ngModel)]="user.phNo"
                        placeholder="Enter Mobile No" autocomplete="off" required>
                </mat-form-field>
                <span style="font-size: 15px;margin-top: 10px;">
                    <mat-error *ngIf="f.phNo.touched && f.phNo.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.phNo.errors.required">
                            *phone number is required</mat-error>
                        <mat-error *ngIf="!f.phNo.errors.required && f.phNo.errors">
                            *phone must be 10 digit</mat-error>
                    </mat-error>
                </span>

                <mat-radio-group matInput formControlName="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="other">Other</mat-radio-button>
                </mat-radio-group>

                <mat-form-field>
                    <input matInput formControlName="dateOfBirth" [matDatepicker]="dateOfBirth"
                        placeholder="select date of birth" required>
                    <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfBirth></mat-datepicker>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="end">
                <button style="font-size: 20px;font-weight: bold;color: whitesmoke;" [disabled]="!registerForm.valid"
                    mat-button type="submit" class="divider">Register</button>
            </mat-card-actions>
            <a href="#"
                style="align-content:space-around; padding-bottom: 10px; margin-bottom: 20px; font-size: 25px;">Already
                Register?</a>

        </form>
    </mat-card>

</div>