<div class="medium-list " style="align-items: center;">
    <div clas="list-viewer-wrapper">
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpasswordForm.valid && onSubmit()" class="example-form" noval>
            <div class="form-items">
                <div class="row threed">
                    <h1 style="font-style: oblique; text-align: center;text-transform: capitalize;text-decoration-style: wavy;">FundooNotes
                    </h1>
                </div>
                <div >    
                    <h3 style="color: lightgrey;">Reset Password</h3>
                </div>
                <div class="form-container"><br><br>
                    <mat-form-field>
                        <mat-icon matPrefix>perm_identity</mat-icon>
                        <input id="email" matInput formControlName="email" [(ngModel)]="user.email"
                            placeholder="Enter Your Email" autocomplete="off" required>
                    </mat-form-field>
                </div>
                <div>
                    <button [disabled]="!forgotpasswordForm.valid" style="font-size: 20px;font-weight: bold;color: whitesmoke;" mat-button type="submit" class="divider">Verify Email</button>
                </div>
                <div>
                    <a href="http://192.168.1.175:4200/login">Login??</a><br>
                </div>
            </div>
        </form>
    </div>
</div>