<mat-toolbar class="container" style=" border-bottom: 1px solid lightgray; margin: auto; height: 80px; width: 100%;"
  class="docs-navbar-header" fullscreen>

  <mat-toolbar-row>

    <button mat-icon-button (click)="ontoggel(opened)">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/logo/512px-Google_Keep_icon.svg.png"
      style="height: 40px;width: 40px; padding-right: 20px; padding-left: 20px;">
    <span class="title">Fundoo</span>
    <div class="search">
      <mat-card>
        <div class="searchicon">
          <mat-icon style="font-size: 30px;" prefix>search</mat-icon>
        </div>
        <div class="searchboxinput">
          <input type="text" placeholder="Search" [(ngModel)]="title" (input)="searchNote()" style="height: 40px;width: 800px;">
        </div>
      </mat-card>
    </div>
    <a><img src="assets/icon/refresh-24px.svg" (click)="onRefresh()" style=" color:grey;height: 30px;width: 30px; padding-left: 6em;" /></a>
    <a><img src="assets/icon/list_view-512.png" style=" color:grey;height: 22px;width: 25px; padding-left: 1em;" /></a>
    <a><img src="assets/icon/cogwheel.svg" style=" color:grey;height: 30px;width: 30px; padding-left: 1em;" /></a>
    <a><img src="assets/icon/ic_apps_48px-512.png"
        style=" color:grey;height: 30px;width: 30px; padding-left: 1.3em;" /></a>
    <a><img [matMenuTriggerFor]="vertebrates" src="assets/icon/account_circle-24px.svg"
        style=" color:grey;height: 40px;width: 40px; padding-left: 0.5em;" /></a>

      <div style="width:10em;">
    <mat-menu #vertebrates="matMenu" class="menuStyle" style="width:auto">
      <div class="div-profilepic">
        <div class="image-upload">
          <label for="file-input">
            <img src="assets/icon/profilePic.jpg" style="height: 110px;width: 110px; padding: 0px;margin: 0px;"/>
          </label>
          <input id="file-input" type="file" />
        </div>
      </div>
      <div class="profile-content">
        <div>
        <h3 style="color: rgb(65, 64, 64);">{{name}}</h3>
        <h4 style="color: rgb(71, 82, 94);">{{uName}}</h4>
        </div>
      </div>

      <div class="div-profile">
        <div class="div-signout">
          <button [routerLink]="['']" (click)="onClickClear()" mat-button class="signout-button">Signout</button>
        </div>
      </div>
    </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>