

<div class="main" fxFlex>
    <mat-card style="height: 4em; border: 1px gray; padding:20px;"  *ngIf="!open"  (click)="onClickCreateNoteOpen()"
        fxLayout="row">
        <input matInput class="searchBar" placeholder="Take a note...">
    </mat-card>
    <mat-card style="height: 12em;"  *ngIf="open"  fxLayout="column">
        <div id="pindiv">
            <app-pin-notes id="pin"></app-pin-notes>
        </div>
          
            <textarea id="title" [(ngModel)]="note.title" style="border: none;" matInput type="text" class="input" placeholder="Title"></textarea>
        <textarea id="desc" style="border: none; " matInput type="text" class="input" placeholder="Take a note"
            [(ngModel)]="note.description"></textarea>
            <div class="icon" >
                <app-notes-iconlist class="app-note-list" ></app-notes-iconlist>
                <div class="div-button" button  (click)="onSubmit()||open=!open"><button style="border: none; padding-right: 45px;">Close</button></div>
            </div>
    </mat-card>
</div>