// div.container{
//     flex-direction: column;
//     border: 1px solid transparent;
//     height: 300px;
//     width: 100px;
//     justify-content: center;
//     justify-items: center;
    

// }
// mat-card{
//     justify-content: center;
//     justify-items: center;
//     box-sizing: border-box;
//     box-shadow: 4px lightgray solid;
//     height: 150px;
//     flex: 1;
// }

// mat-card-content{
//     justify-content: center;
//     justify-items: center;
//     padding-left: 220px;
//     &::after {
//         content: '';
//         padding: 0.5em;
//       }
// }
// #title{
//     justify-content: center;
//     justify-items: center;
//     padding-bottom: 20px;
    
// }
// input{
//     display: flex;
//     width: 100%;
//     max-width: 800px;
//     box-sizing: border-box;
//      height: 30px;
//      min-width: 100px;
// }
// mat-card-content{
//     box-sizing: border-box;
//     box-shadow:1px black solid;
// }
// #takenote{
   

// }


.main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}



.searchBar
{
   
   border:none;
   outline:none;
}


input{
    border: none;
    height: 1.2em;
    width: 29em;
    margin-bottom: 20px;
    padding: 16px;
    font-weight: bolder;
}

#title::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#desc::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
#title{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#desc{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}